/* Estilo CSS */
.nitroecom_cielo { padding: 10px; }

.nitroecom_cielo .card-logo img {
    max-width: 55px;
    padding-left: 5px;
}
.nitroecom_cielo .card-logo li img { width: 60px; }

.nitroecom_cielo .card-logo li input[type="checkbox"], input[type="radio"] {
	display: block;
	margin: 0 0 5px 25px;
}