<?xml version="1.0" ?>
<config>
  <modules>
    <Nitroecom_Cielo>
      <version>1.2.0</version>
    </Nitroecom_Cielo>
  </modules>
  <!--
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
              <nitrocielo before="Mage_Adminhtml">Nitroecom_Cielo</nitrocielo>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>-->
  <admin>
    <routers>
      <nitrocielo>
        <use>admin</use>
        <args>
          <module>Nitroecom_Cielo</module>
          <frontName>backendcielo</frontName>
        </args>
      </nitrocielo>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <nitrocielo>
          <file>Nitroecom_Cielo.xml</file>
        </nitrocielo>
      </updates>
    </layout>
  </adminhtml>
  <frontend>
    <routers>
      <nitrocielo>
        <use>standard</use>
        <args>
          <module>Nitroecom_Cielo</module>
          <frontName>frontendcielo</frontName>
        </args>
      </nitrocielo>
    </routers>
    <layout>
      <updates>
        <nitrocielo>
          <file>Nitroecom_Cielo.xml</file>
        </nitrocielo>
      </updates>
    </layout>
  </frontend>
  <global>
    <events>
      <sales_order_payment_cancel>
        <!-- identifier of the event we want to catch -->
        <observers>
          <sales_order_payment_cancel_handler>
            <!-- identifier of the event handler -->
            <type>model</type>
            <!-- class method call type; valid are model, object and singleton -->
            <class>nitrocielo/payment</class>
            <!-- observers class alias -->
            <method>cancelamento</method>
            <!-- observer's method to be called -->
            <args></args>
            <!-- additional arguments passed to observer -->
          </sales_order_payment_cancel_handler>
        </observers>
      </sales_order_payment_cancel>
      <sales_order_creditmemo_refund>
        <!-- identifier of the event we want to catch -->
        <observers>
          <sales_order_creditmemo_refund_handler>
            <!-- identifier of the event handler -->
            <type>model</type>
            <!-- class method call type; valid are model, object and singleton -->
            <class>nitrocielo/payment</class>
            <!-- observers class alias -->
            <method>estorno</method>
            <!-- observer's method to be called -->
            <args></args>
            <!-- additional arguments passed to observer -->
          </sales_order_creditmemo_refund_handler>
        </observers>
      </sales_order_creditmemo_refund>
    </events>
    <helpers>
      <nitrocielo>
        <class>Nitroecom_Cielo_Helper</class>
      </nitrocielo>
    </helpers>
    <blocks>
      <nitrocielo>
        <class>Nitroecom_Cielo_Block</class>
      </nitrocielo>
      <sales>
        <rewrite>
          <order_totals>Nitroecom_Cielo_Block_Sales_Order_Totals</order_totals>
        </rewrite>
      </sales>
      <adminhtml>
        <rewrite>
          <sales_order_totals>Nitroecom_Cielo_Block_Adminhtml_Order_Totals</sales_order_totals>
          <sales_order_invoice_totals>Nitroecom_Cielo_Block_Adminhtml_Order_Invoice_Totals</sales_order_invoice_totals>
          <sales_order_creditmemo_totals>Nitroecom_Cielo_Block_Adminhtml_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
        </rewrite>
      </adminhtml>
    </blocks>
    <sales>
      <quote>
        <totals>
          <juros>
            <class>nitrocielo/quote_address_juros</class>
            <after>shipping</after>
            <before>grand_total</before>
          </juros>
          <desconto>
            <class>nitrocielo/quote_address_desconto</class>
            <after>shipping</after>
            <before>grand_total</before>
          </desconto>
        </totals>
      </quote>
      <order_invoice>
        <totals>
          <juros>
            <class>nitrocielo/order_invoice_juros</class>
            <after>shipping</after>
            <before>grand_total</before>
          </juros>
          <desconto>
            <class>nitrocielo/order_invoice_desconto</class>
            <after>shipping</after>
            <before>grand_total</before>
          </desconto>
        </totals>
      </order_invoice>
      <order_creditmemo>
        <totals>
          <juros>
            <class>nitrocielo/order_creditmemo_juros</class>
            <after>shipping</after>
            <before>grand_total</before>
          </juros>
          <desconto>
            <class>nitrocielo/order_creditmemo_desconto</class>
            <after>shipping</after>
            <before>grand_total</before>
          </desconto>
        </totals>
      </order_creditmemo>
    </sales>
    <fieldsets>
      <sales_convert_quote_address>
        <juros>
          <to_order>*</to_order>
        </juros>
        <base_juros>
          <to_order>*</to_order>
        </base_juros>
        <desconto>
          <to_order>*</to_order>
        </desconto>
        <base_desconto>
          <to_order>*</to_order>
        </base_desconto>
      </sales_convert_quote_address>
      <sales_convert_order>
        <juros>
          <to_invoice>*</to_invoice>
          <to_shipment>*</to_shipment>
          <to_cm>*</to_cm>
        </juros>
        <base_juros>
          <to_invoice>*</to_invoice>
          <to_shipment>*</to_shipment>
          <to_cm>*</to_cm>
        </base_juros>
        <desconto>
          <to_invoice>*</to_invoice>
          <to_shipment>*</to_shipment>
          <to_cm>*</to_cm>
        </desconto>
        <base_desconto>
          <to_invoice>*</to_invoice>
          <to_shipment>*</to_shipment>
          <to_cm>*</to_cm>
        </base_desconto>
      </sales_convert_order>
    </fieldsets>
    <models>
      <nitrocielo>
        <class>Nitroecom_Cielo_Model</class>
      </nitrocielo>
    </models>
    <resources>
      <nitrocielo_setup>
        <setup>
          <module>Nitroecom_Cielo</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </nitrocielo_setup>
      <nitrocielo_write>
        <connection>
          <use>core_write</use>
        </connection>
      </nitrocielo_write>
      <nitrocielo_read>
        <connection>
          <use>core_read</use>
        </connection>
      </nitrocielo_read>
    </resources>
  </global>
  <default>
    <payment>
      <nitrocielo>
        <model>Nitroecom_Cielo_Model_Payment</model>
        <order_status>pending</order_status>
        <active>1</active>
        <payment_action>authorize_capture</payment_action>
        <title>Pagamento por cartão de crédito</title>
        <bandeiras>visa, mastercard</bandeiras>
        <ambiente>homologacao</ambiente>
        <merchant_id>daaec334-ac85-4c63-9564-f4a31be7b19b</merchant_id>
        <merchant_key>LTFYLLACRDYCIKMHTXBRVKGQYGDHOOVTCKGZUKRK</merchant_key>
        <texto_desconto_a_vista>Desconto para pagamento em 1 parcela no cartão:</texto_desconto_a_vista>
        <texto_juros>Juros do parcelamento:</texto_juros>
        <softdescriptor>nomedaloja</softdescriptor>
      </nitrocielo>
    </payment>
  </default>
</config>
